.populer-products {
    padding: 50px 0;
}
.title {
    font-weight: bold;
    color: #2d3a4b;
    font-size: 26px;
    margin: 0px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.description {
    display: inline-block;
    width: 52%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #666666;
}